.game_section{
  /* text-align: center; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.game_board {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #000;
}
.game_details{
  width: 300px;
}
.player_name_section{
  display: flex;
  gap: 20px;
}
.player_name_section input{
  font-size: 16px;
  padding: 10px;
  width: 300px;
}

.flex_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stop_btn{
  background-color: #f37272 !important;
}

.saved_data{
  color:#175a25;
}
.back_button{
  text-align: left ;
  margin-bottom: 20px;
}
.start_button{
  margin-top: 20px;
}

@media (max-width:768px) {
  .player_name_section{
    flex-direction: column;
  }
  .player_name_section input{
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }
  .start_button{
    margin-top: 0;
    text-align: right;
  }
  .game_section{
    /* text-align: center; */
    margin-top: 20px;
    gap:20px;
    flex-direction: column;
  }
  
}
